* { 
	box-sizing: border-box;
    /* border: 3px solid red; */
}

html {
	height: 100%;
    background-image: url("/pokerfelt.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	color: #fff;
    overflow: hidden;
}

body {
    height: 100%;
    margin: 0;  
}

#game-container {
    height: 100%;
}

/* Community Game Board */
#lake-container {
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    height: 50%;
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px black inset;
    margin: 20px;
    padding: 10px;
}

/* Individual User Game Board */
#your-tableau {
    position: fixed;
    max-width: 100%;
    width: 1100px;
    height: 40%;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%);
    display: flex;
    justify-content: space-between;
}
.your-cards {
    background-size: cover;
    background-position: center;
    width: 103px;
    height: 138px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px black inset;
}
.community-cards {
    margin: 5px;
}
#dragging-card {
    position: absolute;
    left: 300;
}
.active-piles {
    cursor: pointer;
}
#your-stock-pile {
    margin-top: 5%;
}
#your-waste-pile {
    margin-top: 5%;
}
#your-objective-pile {
    margin-top: 5%;
}
#your-work-piles {
    display: flex;
    width: 60%;
    justify-content: space-evenly;
    padding-left: 40px;
    padding-right: 40px;
}
.empty {
}


/* Animations */
@keyframes draw-animation {
    from {
        transform: rotateY(-20deg);
    }
    to {
        transform: rotateY(0deg);
    }
}
.draw-animation {
    animation: draw-animation 0.1s ease-out;
}

@keyframes reset-deck {
    from {
        transform: translateX(150px);
    }
    to {
        transform: translateX(0px);
    }
}
.reset-deck {
    animation: reset-deck 0.3s ease-out;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px black inset;
}