* { 
	box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    /* border: 3px solid red; */
}

p {
    font-size: 1rem;
    /* color: white; */
}

html {
	height: 100%;
    overflow: hidden;
    background-color: #28642D;
    opacity: 1;
    background-size: 4px 4px;
    background-image: repeating-linear-gradient(45deg, #2E7934 0, #2E7934 0.4px, #28642D 0, #28642D 50%);
}

body {
    height: 100%;
    margin: 0;  
}

#game-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,0.05) 0%, rgba(0,0,0,0) 100%);
}

#controls {
    position: absolute;
    bottom: 0%;
    left: 0%;
}

#settings {
    position: absolute;
    bottom: 0%;
    right: 0%;
    margin: 20px;
}

/* Community Game Board */
#lake-container {
    height: 50%;
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px black inset;
    margin: 10px;
    padding: 10px;
}

/* Individual User Game Board */
#your-tableau {
    max-width: 100%;
    width: 700px;
    height: 40%;
    display: flex;
    justify-content: space-between;
}
.your-cards {
    background-size: cover;
    background-position: center;
    width: 51px;
    height: 69px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px black inset;
}
.community-cards {
    margin: 5px;
}
#dragging-card {
    position: absolute;
    left: 300;
}
.active-piles {
    cursor: pointer;
}
.stock-pile {
    margin-top: 5%;
}
.waste-pile {
    margin-top: 5%;
}
.objective-pile {
    margin-top: 5%;
}
#your-work-piles {
    display: flex;
    width: 60%;
    justify-content: space-evenly;
    padding-left: 40px;
    padding-right: 40px;
}


/* Opponents */

.opponent-container {
    position: absolute;
    top: 0%;
    height: 60%;
    width: 14%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#opponent-container-left {
    left: 0%;
}

#opponent-container-right {
    right: 0%;
}

.opponent {
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 100%;
    border: 1px solid black;
    /* backdrop-filter: blur(1px); */
    padding: 10px;
    align-items: center;
    /* background-color: black; */
}

.opponent-left {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: -0px 0px 5px rgb(40, 40, 40);
    border-left: 0px;
}

.opponent-right {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 0px 5px rgb(40, 40, 40);
    border-right: 0px;
}

.opp-tableau {
    width: 100%;
    max-width: 200px;
    height: 100%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.opp-cards {
    background-size: contain;
    background-position: center;
    width: 13px;
    height: 17.5px;
    border-radius: 1px;
    box-shadow: 0px 0px 3px 0px black inset;
    /* background-color: white; */
}

.opp-work-piles {
    display: flex;
    width: 60%;
    justify-content: space-evenly;
    padding-left: 5px;
    padding-right: 5px;
}

.flex {
    display: flex;
    width: 100%;
    max-width: 200px;
    overflow: hidden;
    justify-content: space-around;
}



/* Animations */
@keyframes draw-animation {
    from {
        transform: rotateY(-20deg);
    }
    to {
        transform: rotateY(0deg);
    }
}
.draw-animation {
    animation: draw-animation 0.1s ease-out;
}

@keyframes reset-deck {
    from {
        transform: translateX(150px);
    }
    to {
        transform: translateX(0px);
    }
}
.reset-deck {
    animation: reset-deck 0.3s ease-out;
}